:root {
    --main_red_color: #be201f;
    --main_red_bg: #be201f;
}

/* 메인섹션 시작 */
.main_section {
    position: relative;
}

/* 헤더시작 */
header {
    position: fixed;
    width: 100%;
}

header > p {
    background: var(--main_red_bg);
    text-align: center;
    color: #fff;
    padding: 14px 0;
    font-size: 14px;
}

.header_bottom,
.header_menu,
.header_icon {
    display: flex;
}

.header_bottom {
    justify-content: space-between;
    padding: 32px 80px;
    align-items: center;
}

.header_menu,
.logo,
.header_icon {
    width: 500px;
}

.logo {
    text-align: center;
}

.header_icon {
    justify-content: flex-end;
}

.header_menu,
.header_icon {
    gap: 24px;
}

.header_menu > li {
    font-size: 20px;
    color: var(--main_red_color);
    font-weight: 600;
}
/* 헤더끝 */

.bg_area {
    background: url(../image/main_section_bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 0 100px;
}

.main_text > h2 {
    font-size: 48px;
    line-height: 70px;
    color: #fff;
    font-weight: 600;
}

.main_text > p {
    font-size: 20px;
    color: #fff;
    margin-top: 24px;
}

/* 메인섹션끝 */

/* 쉐이크리스트 시작 */

.shack_list_section {
    padding: 80px;
    width: 100%;
    box-sizing: border-box;
}

.shack_list {
    display: flex;
    justify-content: space-between;
}

.shack_list > li {
    width: 555px;
    color: var(--main_red_color);
}

.shack_list > li > img {
    width: 100%;
}

.shack_name {
    font-size: 20px;
    font-weight: 600;
    margin: 16px 0;
}

.shack_price {
    display: flex;
    gap: 16px;
    font-size: 20px;
    font-weight: 600;
}

.real_price {
    color: #f7bfbf;
    text-decoration: line-through;
}

.shack_discount {
    border: 1px solid var(--main_red_bg);
    border-radius: 24px;
    margin-top: 16px;
    padding: 8px;
    display: inline-block;
}
/* 쉐이크리스트 끝 */

/* 리서치섹션시작 */
/* 회전하는 텍스트 시작 */
.research_section {
    overflow: hidden;
}

.text_animation {
    width: max-content;
    animation: roll_text 60s infinite linear;
}

.text_animation > p {
    font-size: 150px;
    color: var(--main_red_color);
}

@keyframes roll_text {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}
/* 회전하는 텍스트 끝 */

/* 리서치박스시작 */
.research_box {
    margin: 80px;
}

.research_list {
    display: flex;
    justify-content: space-between;
}

.list_text {
    width: 560px;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.list_text h2 {
    font-size: 48px;
    font-weight: 600;
    color: var(--main_red_color);
    margin-bottom: 32px;
}

.list_text p {
    font-size: 18px;
    color: var(--main_red_color);
    line-height: 24px;
    word-break: keep-all;
}

.more_btn {
    color: var(--main_red_color);
    text-decoration: none;
    font-size: 20px;
    border: 1px solid var(--main_red_bg);
    width: fit-content;
    padding: 16px 32px;
    border-radius: 32px;
    transition: 0.5s;
}

.research_top {
    margin-bottom: 32px;
}

.more_btn:hover {
    color: #fff;
    background: var(--main_red_bg);
}
/* 리서치박스끝 */

/* 애니메이션존시작 */
.animation_text_zone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px;
}

.animation_text {
    font-size: 120px;
    color: var(--main_red_color);
    line-height: 170px;
}

.animation_text > span {
    border: 3px solid var(--main_red_bg);
    padding: 0 60px 16px;
    border-radius: 100px;
}

.animation_img {
    animation: img_rotate 10s infinite linear;
    margin-top: 60px;
}

@keyframes img_rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* 에니매이션존 끝 */

/* 다이어트섹션시작 */
.diet_section {
    background: url(../image/diet_section_bg.png);
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #Fff;
    gap: 48px;
}

.diet_section > h2 {
    font-size: 56px;
    font-weight: 600;
}

.diet_section > p {
    text-align: center;
    font-size: 20px;
    line-height: 32px;
}

.more_btn.white {
    color: #fff;
    background: none;
    border: 1px solid #fff;
}

.more_btn.white:hover {
    color: var(--main_red_color);
    background: #fff;
}
/* 다이어트섹션끝 */

/* 푸터시작 */
footer {
    background: var(--main_red_bg);
    padding: 80px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    font-size: 20px;
    color: #fff;
}

.footer_content h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 32px;
}

.info > p {
    margin: 10px 0;
}

.info > p:last-child {
    margin-top: 40px;
}

.guide > ul > li {
    border-bottom: 1px solid #fff;
    width: 300px;
    padding: 16px 0;
}

.contact_1 {
    margin-bottom: 24px;
}

.contact > div > p {
    margin-bottom: 8px;
}

.contact_1 > p:first-child {
    font-size: 30px;
    font-weight: 600;
}

